<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="float-end"><a href="/logout">logout</a></div>
        <table class="table table-bordered">
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="/comp_view/{{user.id}}">{{ user.name }}</a>{% if my_user.id == user.id %}<a href="/add_rep"> Add Representative</a>{% endif %}</td>
                    <td>
                        {% if user.reps.exists %}
                            <form action="{% url 'check_details' %}" method="post">
                                {% csrf_token %}
                                <select name="rep_id">
                                    <option value="" selected disabled>Select a Representative</option>
                                    {% for rep in user.reps.all %}
                                        <option value="{{ rep.id }}">{{ rep.name }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm">Check details</button>
                            </form>
                            {% if my_user.id == user.id %}
                                {% if selected_rep %}
                                    <a href="{% url 'edit_rep' selected_rep.id %}">Edit</a>
                                    <a href="{% url 'delete_rep' selected_rep.id %}">Delete</a>
                                {% else %}
                                    
                                {% endif %}
                            {% endif %}
                        {% else %}
                            No Sales Representative Assigned
                        {% endif %}
                    </td>
                    <td>{{ user.telephone_number }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
            

            
        </table>
    </div>
</body>
</html>