<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Sales Representative</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Company Name</a> <a href="#">Edit</a> <a href="#">Delete</a> <a href="#">Add Representative</a></td>
                    <td><select>
                        <option>option A</option> 
                    </select> <button type="submit" class="btn btn-primary btn-sm">Check details</button></td>
                    <td>0599-123456</td>
                    <td>companyemail@gmail.com</td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Add a new company</button>
    </div>
</body>
</html>